table.data_table {
	width: 100%;
	font-size: 10pt;
	color: #413D39;
	border-spacing: 0;
	width: 80%;
	display: flex;
	align-self: center;
}

.data_table td {
	padding: 5px 10px;
	text-align: center;
	border-bottom: 1px solid #EAF0F0;
	transition: all 0.5s linear;
}

.data_table th {
	padding: 6px 12px;
	color: black;
	border-bottom: 1px solid #9FA9F0;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.data_table td:nth-child(even) {
	background: #DDEBF3;
}

.data_table td:nth-child(odd) {
	background: #A5DBF9;
}

.data_table th:nth-child(even)  {
	background: #DDEBF3;
}

.data_table th:nth-child(odd)  {
	background: #A5DBF9;
}

.data_table tr:hover td {
	background: #A5DBF9;
}

.data_table tr td:hover {
	background: #9FA9F0;
}

.data_table tr th:nth-child(even):hover {
	background: #A5DBF9;
}

.data_table tr th:nth-child(odd):hover {
	background: #9FA9F0;
}

.data_table img.small_img {
	height: 16px;
	width: 16px;
	padding: 0;
}

.data_table .frontier, .online {
	width: 20px;
}

.data_table a { 
	color: #625C55;
	text-decoration: none; 
}

.data_table a:hover {
	border-bottom: 1px dashed #625C55;
}

.data_table .spoiler_links { 
	cursor: pointer;
	color: #625C55;
}

.sort { 
	cursor: pointer;
}

.data_table .quest {
	width: 300px;
}

.data_table .job {
	width: 225px;
}

.data_table .spoiler_links:hover { 
	color: #413D39;
	font-size: 11pt;
	height: 500px;
  	overflow-y: scroll;
}

.data_table div.spoiler_body {
	padding: 5px 0 0 0;
	display: none;
}

.data_table ul {
	background: inherit;
	list-style-type: disc;
	list-style-position: inside;
	padding: 0 10px;
	margin: 0;
}

.data_table li {
	padding: 2px 0;
	text-align: left;
}

.data_table .quest li {
	border-top: 1px dashed #000000;
	padding: 2px 0;
}

.data_table li:first-child {
	border-top: 1px dashed #000000;
}

.data_table li:last-child {
	border-bottom: none;
}

#main {
	flex: 1;
	flex-shrink:1;
  	margin: 1% 10%;
  	padding: 2%;
  	font-size: 18px;
  	border: 1px solid inherit;
  	border-radius: 5px;
  	background-color: #F5FAFA;
}

#main a {
	margin-bottom: 10px;
}

#main a {
	color: #625C55;
	text-decoration: none; 
}

#main a:hover {
	font-weight: bold;
}

.error_msg {
	font-weight: bold;
	color: red;
	text-align: center;
}
